<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta
      content="Mashup templates have been developped by Orson.io team"
      name="author"
    />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/assets/images/apple-icon-180x180.png"
    />
    <link href="../static/assets/images/apple-icon-180x180.png" rel="icon" />

    <title>Website Pengenalan Wajah</title>

    <link href="../static/main.3f6952e4.css" rel="stylesheet" />
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
            <div class="text-center">
              <h2>Website Pengenalan Wajah menggunakan OpenCV dan Flask</h2>
              <p></p>
            </div>
          </div>

          <div class="col-md-12">
            <div id="myCarousel" class="carousel slide projects-carousel">
              <div class="item active">
                <div class="row">
                  <div class="col-sm-4">
                    <a
                      href="./upload.html"
                      title=""
                      class="black-image-project-hover"
                    >
                      <img
                        src="../static/assets/images/work01-hover.jpg"
                        alt=""
                        class="img-responsive"
                      />
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>001</h4>
                      <h3>Upload Foto Wajah</h3>
                      <p>
                        Upload foto yang berisi wajah dengan format jpg,jpeg, png.
                      <a href="./upload.html" title="" class="btn btn-default"
                        >Tambahkan</a
                      >
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <a
                      href="./absen.html"
                      title=""
                      class="black-image-project-hover"
                    >
                      <img
                        src="../static/assets/images/work02-hover.jpg"
                        alt=""
                        class="img-responsive"
                      />
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>002</h4>
                      <h3>Kenali Wajah</h3>
                      <p>
                        Klik tombol dibawah untuk mengenali wajah Anda
                      </p>
                      <a href="./absen.html" title="" class="btn btn-default"
                        >Cek</a
                      >
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <a
                      href="./absen.html"
                      title=""
                      class="black-image-project-hover"
                    >
                      <img
                        src="../static/assets/images/work02-hover.jpg"
                        alt=""
                        class="img-responsive"
                      />
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>003</h4>
                      <h3>Riwayat</h3>
                      <p>
                        Riwayat wajah yg dikenali
                      </p>
                      <a href="./riwayat.html" title="" class="btn btn-default"
                        >Lihat</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>
              © UNTITLED | Website created with
              <a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              >/<a
                href="https://www.unsplash.com/"
                title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });
    </script>
    <script type="text/javascript" src="../static/main.70a66962.js"></script>
  </body>
</html>
